<% if ["Drinks", "Appetizers", "Entrees", "Desserts"].include? params[:view] %>
  <p style="font-size:48px">
    <center><strong>Which would you like?</strong></center>
  </p>
  <div>
    <% menuitems = MenuItem.all %>
    <ul class="small-block-grid-3">
      <% menuitems.each do |item|%>
        <% if item.category == params[:view] %>
        <li>
          <div class="columns">
            <%= link_to order_items_show_path( :item => "#{item.name}") do %>
              <div class="panel button", style="width:450px">
                <div class="left">
                <%= image_tag("placeholder.png", width: "150px") %>
                </div>
                <%= item.name%>
                <br><br>
                <%= item.description %>
                <br><br>
                <%= item.price %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% elsif ["Games"].include? params[:view] %>
  <p style="font-size:48px">
    <center><strong>Which game would you like to play?</strong></center>
  </p>
<%else %>
  <div>
  <p style="font-size:48px" class="centered large-offset-2" >
    <strong> What would you like to get started with?</strong>
    <br>
    We would recommend one of the following
  </p>
    <div class="rows">
      <div class="large-offset-4 columns centered">
        <div>
        <%= link_to "Drinks", guest_url(:view => "Drinks"), :method => "get", class: "large button radius" %>
        <%= link_to "Appetizers", guest_url(:view => "Appetizers"), :method => "get", class: "large button radius" %>
      </div>
    </div>
  </div>
<% end %>
