<center>
<div class="large-2 columns" style="background:#333", >
  <% if view == "manager" %>
    <ul class="side-nav">
      <!-- Manager buttons -->

      <!-- Only show Back-End button if in fron-end view -->
      <li><%= button_to "BoH", manager_path, :view => "manager", :method => "get", class: "button large alert" %></li>
      <!-- only show fron-end button if in back-end view -->
      <li><%= button_to "FoH", waiter_path, :view => "manager", :method => "get", class: "button large alert" %></li>
      <li><%= link_to "Remove Menu Item", manager_path(:view => "remove"), :method => "get", class: "button large alert" %></li>
      <li class="divider"></li>
        <!-- need some kind of for loop to show buttons for each active waiter -->
        <!-- need partial here for waiter -->
         <li><%= render 'waiter_button' %></li>
    </ul>
  <%else%>
    <ul class="side-nav">
      <!-- Menu buttons -->
      <li><%= link_to "Drinks", guest_url(:view => "Drinks"), :method => "get", class: "button radius" %></li>
      <li><%= link_to "Appetizers", guest_url(:view => "Appetizers"), :method => "get", class: "button radius" %></li>
      <li><%= link_to "Entrees", guest_url(:view => "Entrees"), :method => "get", class: "button radius" %></li>
      <li><%= link_to "Dessert", guest_url(:view => "Desserts"), :method => "get", class: "button radius"%></li>
      <li><%= link_to "Games", guest_url(:view => "Games"), :method => "get", class: "button success radius" %></li>
    </ul>
  <% end %>
</div>
</center>

