<div>
  <% if view == "manager" %>
    <ul class="side-nav">
      <!-- Manager buttons -->

      <!-- Only show Back-End button if in fron-end view -->
      <li><%= button_to "Back-End", root_url, :method => "get", class: "button large alert" %></li>
      <!-- only show fron-end button if in back-end view -->
      <li><%= button_to "Front-End", root_url, :method => "get", class: "button large alert" %></li>
      <li class="divider"></li>
        <!-- need some kind of for loop to show buttons for each active waiter -->
        <!-- need partial here for waiter -->
         <li><%= render 'waiter_button' %></li>
    </ul>
  <%else%>
    <ul class="side-nav">
      <!-- Menu buttons -->
      <li><%= button_to "    Drinks    ", root_url, :method => "get", class: "button round" %></li>
      <li><%= button_to "Appitizers", root_url, :method => "get", class: "button round" %></li>
      <li><%= button_to "   Entrees   ", root_url, :method => "get", class: "button round" %></li>
      <li><%= button_to "   Dessert   ", root_url, :method => "get", class: "button round"%></li>
    </ul>
  <% end %>
<div>


