<meta http-equiv="refresh" content="15" >

<ul class="small-block-grid-3">
	<% tickets = Ticket.all%>
	<% tickets.each do |ticket|%>
	
	<% if ticket.tstatus == 1 %> <!-- if ticket is sent to kitchen -->
	<li><div class="ticket-container">
		<h3>Table #<%=ticket.table%></h3>
		<hr>
		<%orderItems = ticket.orderItems.all%>
		<%orderItems.each do |orderItem|%>
		<%= link_to order_items_updateStatus_path( 
			:ticket_id =>"#{ticket.id}" ,
			:order_id => "#{orderItem.id}"),
			remote:true do%>
			<div class="order-item panel button" id="<%=ticket.table%>orderItem<%=(Menuitem.find(orderItem.item)).name%>" onclick="updateStatus(this)">
				<h4><%=(Menuitem.find(orderItem.item)).name%></h4>
				<hr>
				<span><b>Ingredients:</b></span>
					<p><%=orderItem.ingredients%></p>
				<span><b>Notes:</b></span>
					<p><%=orderItem.notes%></p>
				<script type="text/javascript">
					var status = '<%=orderItem.istatus%>';
					var name = '<%=ticket.table%>orderItem<%=(Menuitem.find(orderItem.item)).name%>';
					loadStatus(status, name);
				</script>
			</div>
		<%end%>
		<%end%>
	</div></li>
	<%end%>	
	
<%end%>
</ul>
