<!-- when calling this partial pass it a local variable called view with either waiter if it is for the manager or waiter, or menu if it is for the guest -->
<div class="fixed">
<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right columns">
      <!-- Buttons for the manager view -->
      <% if view == "manager" %>
          <a href="#" class="button round" data-dropdown="drop">Daily Reports</a>
          <ul id="drop" data-dropdown-content>
            <li><%= link_to 'Revenue', manager_reports_path(:view => "revenue") %></li>
            <li><%= link_to 'Top Sellers', manager_reports_path(:view => "top sellers") %></li>
            <li><%= link_to 'Compitem', manager_reports_path(:view => "compitem") %></li>
          </ul>
        </li>
      <% elsif view == "menu" %>
	    <li>


		<div class="rows"> 
        <div class="large-0 columns">

		<% if current_guestaccount %>
			<%= button_to current_guestaccount.email << " | " << current_guestaccount.points.to_s << " points" ,guestlogin_path,  :method => "get", class: "button round success" %>
		<% else %>
			<%= button_to "Returning Guest ", guestlogin_path,  :method => "get", class: "button round success" %>
		<% end %>
        <li><%= button_to "Refill", guest_refill_path, :method => "get", class: "button round" %></li>    
        <!-- need to add a way to show the total in the pay button -->
        <li>
		<div class="rows"> 
        <div class="large-0 columns"> 
          <% ticket = Ticket.where(table: session[:table_id]).last %>
          <% if !ticket.nil?  %>
              <% if ticket.tstatus != 9 %>
            <%= button_to "Pay Total: #{number_to_currency(ticket.total)}", guest_confirm_order_path, :method => "get", class: "button round success" %>
            <% end %>
          <% end %>
        </li>
      <% elsif view == "kitchen" %>
      <% ingredients = Ingredient.all %>
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Mark Missing Ingredients</a>
            <ul class="dropdown">
              <% ingredients.each do |ingredient| %>
              <% if ingredient.available == 1 then available = "available" else available = "unavailable" end %>
              <li><%=link_to "#{ingredient.name}: #{available}", controller: "ingredients", action: "update_status", ingredient_name: ingredient.name, remote:true%></li>
              <%end%> <!-- end of ingredients loop -->
            </ul>
          </li>        
          <li><%= button_to "Refresh", kitchen_path, :method => "get", class: "button round" %></li>
        </ul>
            
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">      
      <% if session[:accesslevel] == 3%>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "<<Waiter", waiter_path, :method => "get"%></h1>
        </li>
      </ul>        
      <% elsif session[:accesslevel] == 4%>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "<<Manager", manager_path, :method => "get"%></h1>
        </li>
      </ul> 
      <% elsif view == "menu" %>
        <!-- Help should only show if user is guest -->
		  <li><%= link_to waiter_help_path(:table => session[:table_id]) do  %>
			  <div class=" round button">
				  HELP
			  </div>
		  <%end%></li>
		<li> 
 		<div class="rows"> 
        <div class="large-0 columns"> 
		<a href="https://twitter.com/intent/tweet?button_hashtag=BryceBurger&text=Best%20burgers%20in%20town%20" class=" round button">Tweet #BryceBurger</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)) 
			{js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}} 
		    (document, 'script', 'twitter-wjs');</script> 
	    </li> 
      <li> 
    <div class="rows"> 
        <div class="large-0 columns"> 
    <a href ="https://facebook.com" class=" round button">Facebook</a>
    <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  </li> 
		   <li class="name">   
          <% counter = Totalticket.first %>
          <button class="button round">Guests Servered: <%=counter.total.to_s%></button>
        </li>
    <% elsif view == "kitchen" %> 
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Kitchen</a></h1>
            </li>  
      <% end %>
    </ul>
  </section>

</nav>
</div>


