<%= render 'top_nav_bar', view:'menu' %>
<%= render 'side_nav', view:'menu' %>
<script type="text/javascript">
  $(document).foundation();
</script>
<% if @check.tstatus == 0 %>
<fieldset class='small-8 small-centered text-center columns'>
  <legend>Current Order</legend>
  <% @items.each do |orderItem| %>
    <div class='panel'>
      <h4><%=(Menuitem.find(orderItem.item)).name%>: $<%=(Menuitem.find(orderItem.item)).price%></h4>
      Notes: <%= orderItem.notes %><br>
      <%= link_to 'Remove', order_items_remove_item_path(item_id: orderItem.item) %><br>
      <% if params[:view] == 'waiter' %>
      <hr>
        <%= form_tag order_items_comp_path, :method => 'get' do %>
        <label>Comp Value
          <%= text_field_tag :comp_value, params[:comp_value], placehoder: "comp item"%>
        </label>
        <label>Reason
          <%= text_field_tag :reason, params[:reason], placehoder: "reason"%>
        </label>
        <%= hidden_field_tag :item_id, orderItem.item%>
        <%= hidden_field_tag :user, "a minion from the hit film minions 2"%>
        <br>
        <%= submit_tag "Comp Item", class:"button success" %>
        <%end%>
      <% end %>
    </div>
 <% end %>
	Subtotal: <%= number_to_currency(@check.subtotal) %><br>
	Tax: <%= number_to_currency(@check.tax) %><br>
  Total: <%= number_to_currency(@check.total) %><br>
  <a href="#" data-reveal-id="firstModal" class="radius button">Submit Order</a>
    <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
      <h2 id="firstModalTitle">Are you sure you want to submit?</h2>
      <p>Once you submit your order, you won't be able to edit it.</p>
      <%= link_to 'Yes', ticket_advance_ticket_path, class:'button success center'%>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </fieldset>
  <% elsif @check.tstatus == 1%>
    <div style="text-align:center">
      <h1 style="padding-top:64px;">Your food is in the kitchen</h1>
      <h3 style="color:grey;">Play the coupon game for a chance to earn a discount on your next meal!</h3>
      <br>
      <a href="/games/couponCode/test.html" class="button success">Coupon Game</a>
    </div>
    <div>
      <%= render 'pay' %>
    </div>
  <% elsif @check.tstatus == 9%>
    <%=render 'survey' %>  
  <%end%>
