<%= render 'top_nav_bar', view:'menu' %>
<%= render 'side_nav', view:'menu' %>
<fieldset class='small-8 small-centered text-center columns'>
  <legend>Current Order</legend>
  <% @items.each do |orderItem| %>
    <div class='panel'>
      <h4><%=(Menuitem.find(orderItem.item)).name%></h4>
      Notes: <%= orderItem.notes %><br>
      <%= link_to 'Remove', order_items_remove_item_path(item_id: orderItem.item) %><br>
    </div>
  <% end %>
  Total: <%= number_to_currency(@check.total) %>
  <%= link_to 'Submit Order', guest_path, class:'button radius success' %>
</fieldset>