<%= render 'top_nav_bar', view:'menu' %>
<%= render 'side_nav', view:'menu' %>
<script type="text/javascript">
  $(document).foundation();
</script>
<!-- If no ticket exists -->
<% if @check.nil? %>
  <center><h1>Choose an item to build a ticket.</h1></center>

  <!-- If ticket has not been sent to kitchen -->
<% elsif @check.tstatus == 0 %> 

<fieldset class='small-8 small-centered text-center columns'>
  <legend>Current Order</legend>

  <!-- loop through each item in order -->
  <% @items.each do |orderItem| %>
    <div class='panel'>
      <h4><%=(Menuitem.find(orderItem.item)).name%>: <%=number_to_currency((Menuitem.find(orderItem.item)).price)%></h4>
      Notes: <%= orderItem.notes %><br>
      <%= link_to 'Remove', order_items_remove_item_path(item_id: orderItem.item) %><br>
      
      <!-- show comp item ability if user is a server or manager -->
      <% user = User.find_by(username: session[:username]) %>
      <% if session[:accesslevel] > 2 %>
      <hr>
        <%= form_tag order_items_comp_path, :method => 'get' do %>
        <label>Comp Value
          <%= text_field_tag :comp_value, params[:comp_value], placehoder: "comp item"%>
        </label>
        <label>Reason
          <%= text_field_tag :reason, params[:reason], placehoder: "reason"%>
        </label>
        <%= hidden_field_tag :item_id, orderItem.item%>
        <%= hidden_field_tag :user, session[:username]%>
        <br>
        <%= submit_tag "Comp Item", class:"button success" %>
        <%end%>
      <%end%>
    </div>
 <% end %>
  
  <!-- TOTALS -->
  Subtotal: <%= number_to_currency(@check.subtotal) %><br>
  Tax: <%= number_to_currency(@check.tax) %><br>
  Total: <%= number_to_currency(@check.total) %><br>
  <hr>
  <p style="font-size:16px">You can choose to make your order To-Go after submitting your order.</p>

  <a href="" data-reveal-id="firstModal" class="radius button">Submit Order</a>
    
    <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
      <h2 id="firstModalTitle">Are you sure you want to submit?</h2>
      <p>Once you submit your order, you won't be able to edit it.</p>
      
      <%= form_tag ticket_advance_ticket_path, :method => 'get' do %>
        <p>Make your order To-Go <%=check_box_tag :togo%></p>
        <%= submit_tag "Yes", class:'button success center'%>
      <%end%>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
   <!-- end of form_tag -->

  </fieldset>

  <!-- If ticket sent to kitchen but not out of kitchen -->
  <% elsif @check.tstatus == 1%>
    <div style="text-align:center">
      <h1 style="padding-top:64px;">Your food is in the kitchen</h1>
      <h3 style="color:grey;">Play the coupon game for a chance to earn a discount on your next meal!</h3>
      <br>

      <% #check params for code sent to validate code
      coupon = Coupon.find_by(code: params[:code])
      if coupon
        if coupon.usable && coupon.expiration >= Date.today
          @check.update(:coupon => true)
        else
          @check.update(:coupon => false)
          %>
          <% end end %>


      <a href="#" data-reveal-id="secondModal" class="radius button">Coupon Game</a>
      <div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" >
        <%= render 'couponGame' %>
      </div>
    </div>
    <div>
      <%= render 'pay' %>
    </div>

    <!-- If ticket out of kitchen but unpaid -->
  <% elsif @check.tstatus == 2%>
    <div style="text-align:center">
      <h1 style="padding-top:64px;">Your food is ready!</h1>
      <h3 style="color:grey;">Feel free to pay at anytime.</h3>
    </div>
    <div>
      <%= render 'pay' %>
    </div>        
  <% elsif @check.tstatus == 9 && session[:accesslevel] == 1 && session[:survey] == false %>
    <%=render 'survey' %>  
  <%end%>
