<!-- please remove following line before final production -->
<% session[:table_id] = 11 %>

<center>
<div class="row">
  <div class=" columns">
  <!--Need to add a way to notify waiter -->
  <%= link_to "Pay with Cash", guest_path, :method => "get", class: "button radius" %>
  <!-- Need to show credit partial -->
  <%= link_to "Pay with credit", guest_pay_path(:view => "credit"), class:"button radius" %>
  </div>
</div>
</center>
<div>
<%  check = Ticket.find_by(table: session[:table_id]) %>

</div>
<% if params[:view] == "credit" %>
  <%= render 'credit' %>
<% else %> 
  <% items = OrderItem.where(:ticket_id => check.id) %>
    <% items.each do |item| %>
    <%= "*****ORDER ITEM FOUND*****" %>
  <% end %>
<% end %>
<%= button_to "Cancel", guest_path, :method => "get", class:"button radius left" %>
