<!-- please remove following line before final production -->
<% session[:table_id] = 11 %>

<center>
<div class="row">
  <div class=" columns">
  <!--Need to add a way to notify waiter -->
  <%= link_to "Pay with Cash", guest_path, :method => "get", class: "button radius" %>
  <!-- Need to show credit partial -->
  <%= link_to "Pay with credit", guest_pay_path(:view => "credit"), class:"button radius" %>
  </div>
</div>
</center>
<div>
<%  check = Ticket.find_by(table: session[:table_id]) %>

</div>
<% if params[:view] == "credit" %>
  <%= render 'credit' %>
<% else %> 
  <fieldset class='small-4 small-centered text-center columns'>
    <legend>Bill</legend>
    <% items = OrderItem.where(:ticket_id => check.id) %>
    <% items.each do |item| %>
      <% menuitem = MenuItem.where(:id => item.item).first %>
      <%= menuitem.name %>
      <%= menuitem.price %>
      <%if params[:view] == 'waiter' %>
        <%= link_to 'Comp', root_url, :method => 'get', class:'button radius small' %><br>
      <% end %>
    <% end %>
    <!-- tax goes here -->
    <!-- gratuity -->
    <!-- total -->
  </fieldset>
<% end %>
<%= button_to "Cancel", guest_path, :method => "get", class:"button radius left" %>
