<style>
div.columns large-10 right"{
	padding-left: 2cm;
}

.reveal-modal{
    position: fixed;
}

</style>
<center><%= render 'top_nav_bar', :view => "waiter" %></center>


<div class="rows">
  <div class="large-2 columns" style="background:#333">
    <ul class = side-nav>
    <!--Modal to assign Server to Table-->
    <a href="#" class="button radius" data-reveal-id="serverModal">Assign Servers</a>
    <div id="serverModal" class="reveal-modal full" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h3 id="modalTitle">Assign Servers</h2>
      <!--Generating Tables-->
      <div class="coulmns large-10 right">
      <div class="columns">
      <ul class="large-block-grid-4">
  
      <% tables = Table.all.where(:accesslevel => 1) %>
      <% tables.each do |tables|%>
  
      <li>
      <!--Generating each table to Assign-->
        <a href="#" class="button split"><%="#{tables.username}"%> <span data-dropdown="drop"></span></a><br>
        <ul id="drop" class="f-dropdown" data-dropdown-content>
          <li><a href="#">Server1</a></li>
          <li><a href="#">Server2</a></li>
          <li><a href="#">Server3</a></li>
          <li><a href="#">Server4</a></li>
          <li><a href="#">Server5</a></li>
        </ul>

      </li>
  
      <%end%>
      </ul>
      </div>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!--End of Assign Servers-->

    <% servers = User.all.where(:accesslevel => 3) %>
    <% servers.each do |servers|%>
    <li><%= button_to "#{servers.username}", tableview_path, :view => "Servers", :method => "get", class: "button success radius" %></li>
    <% end %>
    
	</ul>
  </div>
</div>
<br>
<br>
<br>
<br>
<center>
<div class="coulmns large-10 right">
<div class="columns">
<ul class="large-block-grid-4">
  <% tables = Table.all.where(:accesslevel => 1) %>
  <% tables.each do |tables|%>
  <li>

    <%= link_to guest_confirm_order_path(:table_id => tables.username.byteslice(5,2), :view => 'waiter') do %>
  	<div id=<%="#{tables.username}"%> class="table panel button">
      <h2 id="modalTitle"><%="#{tables.username}"%></h2>
		<p>Status:  <!-- Get Table status -->
		<%= table = Ticket.find_by(table: tables.username.byteslice(5,2))
			unless table.nil?
				if table.tstatus == 0
					"Reading Menu"
				elsif table.tstatus == 1
					"Placed order and waiting on food"
				elsif table.tstatus == 2
					"Eating"
				elsif table.tstatus == 9
					"Paid"
				else
					"Unknown"
				end
			else
				"Open"
			end
				%></p><!--find ticket for table if one exists and get status -->
				<p>Refill: <%= tables.refills %></p>
				<br>
				
				<% if tables.help %>
					<p>***HELP REQUESTED***</p>
						 <%end	%>
					 <%=  link_to table_reset_status_path(:table => tables.username.byteslice(5,2)) do %>
								  <div class="button success radius">
								  Reset
								  </div>
								  <%end %>
    </div>
    <% end %>

  </li>
  <%end%>
</ul>
</div>
</div>
</center>
