<%=render 'user/top_nav_bar', :view=> "menu" %>
<%=render 'user/side_nav', :view=> "menu" %>
<% item = Menuitem.where(:name => "#{params[:item]}").first %>
<script type="text/javascript">
  $(document).foundation();
</script>
<fieldset>
  <legend><%= params[:item] %></legend>
    <fieldset>
      <div>
        <% unless item.img.to_s.nil? %>
          <%= image_tag item.img, width:"150px" %>
        <% else %>
          <%= image_tag("placeholder.png", width: "150px") %>
        <% end %>
        <%= item.description %>
        <%= form_tag ticket_addToTicket_path(:params => params), :method => 'get' do %>
          <fieldset>
            <legend>Customize your order</legend>
            Please uncheck everything you want removed.<br>
            <% item.ingredients.each do |ingredient| %>
              <% if ingredient.available == 1 %>
                <%= check_box_tag 'good_ingredients[]', checked = "#{ingredient.name}", true%><%= " #{ingredient.name}" %>
              <%end%>
              <br>
            <% end %>
            <fieldset>
              <legend>Special Requests</legend>
              <%= text_area_tag(:notes,'',size:"24x6") %>
              Take out
              <%= check_box_tag 'take-out' %>
            </fieldset>
          </fieldset>
          <%= hidden_field_tag :item_name, "#{item.name}" %>

          <a href="#" data-reveal-id="myModal">More Info</a>
            <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            Calories: <%= item.calories %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
              <% check = Ticket.where(table: session[:table_id]).last %>
          <%if check.nil? || check.tstatus == 0 || check.tstatus == 9 %>
            <%= submit_tag "Add to Order", class:"button radius" %>
          <%else %>
            <%= submit_tag "Order already placed", class:"button radius", disabled: true%>
          <% end %>
          <% end %>
      </div>
    </fieldset>
</fieldset>
