<%=render 'user/top_nav_bar', :view=> "menu" %>
<%=render 'user/side_nav', :view=> "menu" %>
<% item = MenuItem.where(:name => "#{params[:item]}").first %>
<% @ingredients = item.ingredients.split(',') %>

<fieldset>
  <legend><%= params[:item] %></legend>
    <fieldset>
      <div>
        <% unless item.img.to_s.nil? %>
          <%= image_tag item.img, width:"150px" %>
        <% else %>
          <%= image_tag("placeholder.png", width: "150px") %>
        <% end %>
        <%= item.description %>
        <%= form_tag ticket_addToTicket_path(:params => params), :method => 'get' do %>
          <fieldset>
            <legend>Customize your order</legend>
            Please uncheck everything you want removed.<br>
            <% @ingredients.each do |ingredient| %>
              <%= check_box_tag 'good-ingredients[]', checked = "#{ingredient}", true%><%= " #{ingredient}" %>
              <br>
            <% end %>
            <fieldset>
              <legend>Special Requests</legend>
              <%= text_area_tag(:notes,'',size:"24x6") %>
            </fieldset>
          </fieldset>
          <%= hidden_field_tag :item_name, "#{item.name}" %>

          <a href="#" data-reveal-id="myModal">More Info</a>
            <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            Calories: <%= item.calories %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
          <%= submit_tag "Order", class:"button radius" %>
        <% end %>
      </div>
    </fieldset>
</fieldset>
