<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your payment at ByrceBurger</h1>
    <h2>Your Reciept</h2>
      <% purchased_items = @check.orderItems.all %>
      <ul>
        <% purchased_items.each do |orderItem| %>
          <li><%=(Menuitem.find(orderItem.item)).name%>: <%=(Menuitem.find(orderItem.item)).price%></li>          
        <% end %>
      </ul>
      <h4 style="color:grey">Subtotal: <%= number_to_currency(@check.subtotal) %></h4>
      <h4 style="color:#FF6161">Tax: <%= number_to_currency(@check.tax) %></h4>
      <h4 style="color:#1C68FF">Gratuity: <%=number_to_currency(@check.gratuity)%></h4>
      <h3>Total: <%=number_to_currency(@check.total)%></h3>
    <p>
      Please come back soon!
    </p>
  </body>
</html>